<mat-card *ngIf="isVisible()">
  <mat-card-content>
    <mat-tab-group [selectedIndex]="getIndex()" [headerPosition]="getIndex()">
      <mat-tab label="Login">
        <div class="tab-contents">
          <mat-form-field>
            <input matInput placeholder="Email Address or Username">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Register">
        <div class="tab-contents">
          <mat-form-field>
            <input matInput placeholder="Email Address" [(ngModel)]="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" [(ngModel)]="password">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Confirm Password" [(ngModel)]="confirmPassword">
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="onClickLoginRegister()">{{getSelection()}}</button>
  </mat-card-actions>
</mat-card>
